name: Deploy to VPS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy to VPS
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.DEPLOY_KEY }}
          port: ${{ secrets.VPS_PORT }}
          script: |
            cd /root/github/expense-management-app
            git pull origin main
            source venv/bin/activate
            pip install -r requirements.txt
            pm2 restart api
            pm2 restart bot
